/Users/tim/git/UdeM/ift2015-structure_donnees/devoir_2/Énoncé/devoir2[[:space:]]énoncé.pdf filter=lfs diff=lfs merge=lfs -text
/Users/tim/git/UdeM/ift2015-structure_donnees/devoir_2/Énoncé/Mark[[:space:]]Allen[[:space:]]Weiss[[:space:]]-[[:space:]]Data[[:space:]]structures[[:space:]]and[[:space:]]algorithm[[:space:]]analysis[[:space:]]in[[:space:]]Java[[:space:]](2012,[[:space:]]Pearson[[:space:]])[[:space:]]-[[:space:]]libgen.lc.pdf filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
